<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <ul id="cupcake-list">

    </ul>
    <form id="new-cupcake-form">

        <label>Flavor<br>
            <input type="text" name="flavor">
        </label><br>
        <label>Size<br>
            <input type="text" name="size">
        </label><br>
        <label>Rating<br>
            <input type="float" name="rating">
        </label><br>
        <label>Image Url<br>
            <input type="text" name="image">
        </label><br>
        <button type="submit">Submit</button>
    
      </form>
      
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cupcakes.js"></script>
</body>

</html>

